.queryForm{
    margin: 0 auto;
    text-align: center;
    width: 1140px;
    padding: 10px 40px 20px 40px;
   
}
.queryForm form {
    display: flex;
}
.queryInput{
    width: 100%;
    padding: 16px 16px 4px 8px;
}
.queryBtn{

}