.repoPage{
    width: 1140px;
    margin: 0 auto;
    color: #2d3436;
}
.repoPageProfileWrapper{
    border: 1px solid  #2d3436;
    background: linear-gradient(#b2bec3 33%, #dfe6e9 67%, #b2bec3 100%);
    padding-bottom: 20px;
}
.repoPageProfile{
    display: flex;
    padding-top: 40px;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 60px;   
}
.repoPageProfile img{
    width: 140px;
    height: 140px;
    border-radius: 50%;
}
.repoPageProfileLink a{
    font-size: 26px;
    color: #2d3436;
    text-decoration: none;
}
.repoPageProfileLink a:hover{
    text-decoration: underline;
}
.descr{
    font-weight: 500;
    padding-left: 1em;
    padding-top: 10px;
}
.descr span{  
    margin-left: 1em;
    font-weight: 400;
}
.contribs{
    margin-top: 0px;
}
.descr thead{
    background: #2d3436;
}