.queryForm{
    margin: 0 auto 20px auto;
    text-align: center;
    width: 1140px;
    
   
}
.queryForm form {
    display: flex;
}
.queryInput{
    width: 100%;
    padding: 16px 16px 4px 8px;
}
.queryBtn{
    
    background:  #2d3436;
    border: none;
    transition: 0.5s all;
    padding: 0 20px;
    color: #fff;
    outline: none;
    cursor: pointer;
}
.queryBtn:hover{
   
    background: #a8a8a8;
}
